* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-weight: 400;
  /* grid-template-columns: 1fr, 1fr, 1fr, 1fr;
  grid-template-rows: auto; */
}

html{
  font-size: 62.5%;
}


/*--------------- Header ---------------*/
.header {
  background-color: #444;
  font-size: 3rem;
  font-weight: 900;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  text-shadow: 0.1rem 0.1rem 0.1rem #000;
  padding: 1rem;
}
/*--------------- NavBar ---------------*/
.nav {
background-color: #555;
color:white;
display: flex;
justify-content: space-between;
align-items: center;
font-size: 2rem;
gap: 2rem;
padding: 0 1rem;
list-style-type: none;
}

.nav ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: .25rem;
  
}

.nav li.active {
  background-color: #555;
}

.nav li:hover {
  background-color: #777;
}



/*--------------- Searchbar ---------------*/
.searchbar-container{
  background-color: #999;
  padding: 1rem;
}

.searchbar {
  align-items: stretch;
  margin-inline: 1rem;
}
/*--------------- Reviews List ---------------*/
.review-container{
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

.review-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
}

.review-item{
    text-transform: capitalize;
}

.review-title{
  position: relative;
}

/* .review-author{
  text-decoration: ;
} */

.review-img{
position: relative;
float:left;
padding: 0.5rem;
width: 35%;
height: auto
}

/*--------------- Review (Singular) ---------------*/

/*--------------- Footer ---------------*/
.footer {
  padding: 6rem;
}


/*--------------- CSS Animation - Underline ---------------*/